* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }
    .form-registre {
        width: 400px;
        background-color: #3e0062;
        padding: 20px;
        margin: auto;
        margin-top: 20px;
        border-radius: 60px;
        font-family: Georgia;;
        color: white;
        box-shadow: 7px 13px 37px #c604f7;
    }
    .form-registre h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }
   
    .form-registre p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }
    .form-registre a {
        color: white;
        text-decoration: none;
    }
    .form-registre a:hover {
        color: white;
        text-decoration: underline;
    }
    .contact label, .contact input, .contact textarea {
        display: block;
        width: 100%;
       
    }
    .contact label {
        font-size: 12px;
        font-family: Georgia;
    }
    
    .contact input:not([type="submit"]), .contact textarea{
        margin-bottom:  4px;
        font-size: 13px;
        font-family: Georgia;
        outline: none;
        color: rebeccapurple;
    }
    
    .contact textarea{
        min-height: 100px;
    }
    
    input[type="submit"] {
        padding: 10px;
        border-radius: 12px;
        border: none;
        background-color: rgb(250, 115, 239);
        color: aliceblue;
        font-size: 16px;
        font-family: Georgia;
        cursor: pointer;
    }


