 <form  [formGroup]="oCliente"  (ngSubmit)="save($event)">
  <div class="container-fluid">
    <div  style="background-color: #3e0062;">
    <div class="row">
    <div class="col-md-12">
   <section class=" form-registre">
  <p>Formulario de Registro</p>
    <div [formGroup]="oCliente" >
    <label  for="Nombre">Nombre:</label>
    <input  type="text" formControlName="Nombre" name="Nombre" class="form-control" placeholder="Ingrese su Nombre"
    id="Nombre"  >
    <div *ngIf="this.oCliente.get('Nombre')?.errors && oCliente.get('Nombre')?.touched">
      <p *ngIf="oCliente.get('Nombre')?.hasError('required')" class="text-danger">
        Es un campo requerido
      </p>
    </div>
    </div>
    <div [formGroup]="oCliente">
    <label for="Apellido" >Apellido:</label>
    <input type="text"   formControlName="Apellido" name="Apellido" class="form-control" placeholder="Ingrese su Apellido"
    id="apellido">
    <div *ngIf="this.oCliente.get('Apellido')?.errors && oCliente.get('Apellido')?.touched" >
      <p *ngIf="oCliente.get('Apellido')?.hasError('required')" class="text-danger">
      El apellido no puede quedar vacío   </p>
          </div>
    </div>
    <div [formGroup]="oCliente">
    <label for="DNI">DNI :</label>
    <input type="number"  formControlName="dni" class="form-control" placeholder="Ingrese su DNI" id="DNI" >
    <div *ngIf="this.oCliente.get('dni')?.errors && oCliente.get('dni')?.touched" >
      <p *ngIf="oCliente.get('dni')?.hasError('required')" class="text-danger">El dni no puede quedar vacío máx 8 </p>
          </div>  
    </div>
    <div [formGroup]="oCliente" class="form-group">
    <label for="direccion">Direccion :</label>
    <input type="text"  formControlName="direccion" class="form-control" placeholder="Ingrese su Direccion"
    id="direccion">
    <div *ngIf="this.oCliente.get('direccion')?.errors && oCliente.get('direccion')?.touched" >
      <p *ngIf="oCliente.get('direccion')?.hasError('required')" class="text-danger">La dirreccion no puede quedar vacía</p>
    </div>
  </div>
    <div [formGroup]="oCliente" class="form-group"> 
    <label for="provincia">Provincia:</label>
    <input type="text"   class="form-control" placeholder="Ingrese su Provincia"
     id="provincia" >
        
    </div>
    <label >Localidad:</label>
    <select id="dpto" class="form-control">
        <option value="1">Ambato</option>
        <option value="2">Ancasti</option>
        <option value="3">Andalgala</option>
        <option value="4">Antofagasta de la Sierra</option>
        <option value="5">Belen</option>
        <option value="6">Capayan</option>
        <option value="7">Capital</option>
        <option value="8">El Alto</option>
        <option value="9">Fray Mamerto Esquiu</option>
        <option value="10">La Paz</option>
        <option value="11">Paclin</option>
        <option value="12">Poman</option>
        <option value="13">Santa Maria</option>
        <option value="14">Santa Rosa</option>
        <option value="15">Tinogasta</option>
        <option value="16">Valle Viejo</option>
    </select>
    <div class="form-group" [formGroup]="oCliente"> 
    <label for="Mail">Email:</label>
    <input type="texto"  formControlName="Mail" class="form-control" placeholder="Ingrese su mail example@.com"
    id="email">
    <div *ngIf="this.oCliente.get('Mail')?.errors && oCliente.get('Mail')?.touched" >
      <p *ngIf="oCliente.get('Mail')?.hasError('required')" class="text-danger">
      El mail es requerido</p>
    </div>
  </div>
  <div class="form-group" [formGroup]="oCliente"> 
    <label for="Contrasena">Contraseña:</label>
    <input type="text"  formControlName="Contrasena" class="form-control" placeholder="Ingrese su contraseña"  
    id="Contrasena"  >
    <div *ngIf="this.oCliente.get('Contraseña')?.errors && oCliente.get('Contraseña')?.touched" >
      <p *ngIf="oCliente.get('Contraseña')?.hasError('required')" class="text-danger">
      La contraseña debe ser +10 caracter -15 </p>
    </div>
  </div>
   <input style="opacity:1; " type="checkbox" name="terminos"><p style="display: inline;">He leído y acepto los <a href="#"> Terminos y Condiciones</a>  </p>
   <button type="submit" id="btnSubmit" [disabled]="oCliente.invalid" class="button button1">Registro</button>
   <p> <a href='entrada'> ¿Ya tienes una cuenta? </a> </p>
    </section>
    </div>
    </div>
    </div>
  </div>
 </form>
 