<section class=" form-registre">
    <p>Formulario de Registro</p>
<input class="controls" type="texto" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
<input class="controls" type="texto" name="Apellido" id="Apellido" placeholder="Ingrese su Apellido">
<input class="controls" type="email" name="Correo" id="Correo" placeholder="Ingrese su Correo">
<input class="controls" type="password" name="nombres" id="nombres" placeholder="Ingrese su contraseña">
<p>He leído y acepto los <a href="#"> Terminos y Condiciones</a>  </p>
<button class="button button1">Registro</button>
<p> <a href="#"> ¿Ya tienes una cuenta? </a> </p>
</section>
