* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }
    .form-registre {
        width: 400px;
        background-color: #3e0062;
        padding: 20px;
        margin: auto;
        margin-top: 20px;
        border-radius: 60px;
        font-family: Georgia;;
        color: white;
        box-shadow: 7px 13px 37px #c604f7;
    }
    .form-registre h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .controls {
        width: 100%;
        background-color:  white;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid  rgb(90, 92, 91);
        font-family: Georgia;;
        font-size: 18px;
    }
    .form-registre p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
    }
    .form-registre a {
        color: white;
        text-decoration: none;
    }
    .form-registre a:hover {
        color: white;
        text-decoration: underline;
    }
    .button {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
    }    
    .button {
        width: 100%;
            background-color: #9654aa;       
            border: none;
            color: white;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 16px 0;
            cursor: pointer;
    }
    