
<body style="background-color: #e8cef7">
  
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class= "inicio">
        <img style="width: 100%; height: 355px; border-radius: 6px;" src="../assets/img/Fondo_de_inicio.jpg" alt="Imagen pricipal"> 
      </div>       
      </div>

    </div>   

    <br>

    <div class="row">

      <div style="text-align: center;" class="col-md-4" >      
        <img  class="img" src="../assets/img/Compra.jpg" alt="Compra">
      </div>

      <div style="text-align: center;"  class="col-md-4" >        
         <img class="img" src="../assets/img/Paga.png" alt="Paga">
      </div>

      <div  style="text-align: center;" class="col-md-4" >
       <img class="img" src="../assets/img/Cambia.jpg" alt="Cambia">
      </div>
    </div>

    <br>

    <div class="row">

      <div  class="col-md-4" >       
        <p class="txt_inicio">
          <br>
          "Compra de la <br>
          manera mas facil con <br>
          ..."<br>
          <br>
        </p>        
      </div>

      <div  class="col-md-4">       
         <p  class="txt_inicio">
          <br>
          "Paga de la forma mas <br>
          inteligente" <br>
          <br>
        </p>        
      </div>

      <div  class="col-md-4">        
        <p class="txt_inicio">
         <br>
          "Cambia con la mayor <br>
          confianza y seguridad" <br>
         <br>
        </p>        
      </div>
    </div>



  </div>
  
  <br>
</body>

