
<div class="container">

<div class="rectangle1"> 
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bileteravirtua
    </a>
  </div>
</nav>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <p class="navbar-brand" ></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a  class="nav-link active"  aria-current="page" href="#" style= width:109px;height:26px;left:590px;top:94px>COMPRA </a>
        <a class="nav-link active "   href="#"  >PAGÁ </a>
        <a class="nav-link " href="#">¿QUIÉNES SOMOS?</a>
        <a class="nav-link disabled">CONTACTO</a>
      </div>
    </div>
  </div>
<div>
  <div class="col-md-3 text-end">
  <button type="button" class="btn btn-outline-primary me-2"  style="margin: left 50px; ;background-color: black;  width:212px; height:57px; left:calc(50% - 212px/2 + 622px); top:8px;"><font style="vertical-align: inherit;">INGRESÁ</font></button>
  <button type="button" class="btn btn-primary" style=" margin-left: auto   ;width:212px; height:57px; left: 1272px; top: 70px;"><font style="vertical-align: inherit;">REGISTRO</font></button>
</div>
<div>