<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inicio</title>
</head>
<body style="background-color: #ffffff;">
  <div class="container-fluid">
   <div class="row">
  <div class="col-md-12">
   <div class="rectangle1"> 
     
         <a class="navbar-brand" href="#">
           <img src="../header/Logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
           Bileteravirtua
          </a>
        
      <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
         <p class="navbar-brand" ></p>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 439px;">
           <div class="navbar-nav" >             
            <a  class="nav-link active"  aria-current="page" href="#" >COMPRA </a>
            <a class="nav-link active"   href="#"  >PAGÁ </a>
            <a class="nav-link " style="text-align: center;" href="#">¿QUIÉNES SOMOS?</a>
            <a class="nav-link" href="#">CONTACTO</a>
          
           </div>
          </div>
          <div class="col-md-3 text-end" style="margin-top: 0%;" >
            <button type="button" class="btn btn-outline-primary me-2"  style="margin-top: -33px; ;background-color: black; left:calc(50% - 212px/2 + 622px);"><font style="vertical-align: inherit;">INGRESÁ</font></button>
           <button type="button" class="btn btn-primary" style=" margin-top: -5px; margin-right: 8px;  left: 1272px;" ><font style="vertical-align: inherit;">REGISTRO</font></button>
          </div>
        </div>
      </nav>
    </div>
   </div>
  </div>
<div>


