<body style="background-color: #e8cef7;">        
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="rectangle2">
               <div class="row">
                    <div class="col-md-4">
                        <div class="dropdown" id="cuenta">
                            <button class="dropbtn">Cuenta</button>
                            <div class="dropdown-content">
                            <a href="#">Movimientos</a>
                            <a href="#">Transaciones</a>
                            <a href="#">Paga Aquí</a>
                            <a href="#">Puntos</a>
                            <a href="#">Prestamos</a>
                            <a href="#">Inversiones</a>                            
                            </div>
                        </div>                        
                    </div>
                    <div class="col-md-4">
                         <img id="principal" src="../../../assets/img/Logo.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown" id="perfil" >
                            <button class="dropbtn">Mi perfil</button>
                            <div class="dropdown-content">
                            <a href="#">Cambio de Clave</a>
                            <a href="#">Ajustes</a>
                            <a href="#">Cerrar Sesion</a>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
         </div>
        </div>
    </div>
    <br>
    <div class="Cuadro" id="opc">
        <div class="row">
            <div class="col-md-6">
                <div class="items">
                <div id="monto"><label for="monto">Monto : <span> <input type="number" name="monto" id="monto"></span></label>   
                </div>
                <br>
                <div>
                  <label for="cvu">CVU/CBU : <span> <input type="number" name="cvu" id="cvu"></span></label> 
                  
                </div>
                <br>
                <div>
                   <input type="checkbox" name="seguro"> <span> <p style="display: inline;">Estoy seguro de lo que estoy haciendo</p> </span>
                </div>
                <br>
                <br>
                <div>
                    <input type="submit" name="Transferir" value="Transferir" class="btn btn-success" id="btntrans">
                </div>
            </div>
        </div>
          
            <div class="col-md-6">
              <img class="centrar" src="../../../assets/img/tranferimagen.png" alt="Transferencia"  id="imgtrans" >       
                 
            </div>
        </div>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </body>
