<body  style="background-color: #e8cef7;" > 
    <div class="container-fluid"> 
        <div class="row"> 
            <div class="col-md-12"> 
                <div class="container">
        <h3>Nosotros!  </h3> 
        <br>
        <p><b>¡Hola a todos! Somos alumnos del grupo 4, del curso de Programador Full Stack del ISPC,
            algunos estudiamos y/o trabajamos, pero eso te lo va a contar cada uno a 
            continuacion:</b></p>
        <br>
        <dl> 
            <dt><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg> Ana Luz</dt> 
            <dd> A description list is perfect for defining terms. </dd> 
            <dt><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg> Florencia </dt> 
            <dd> Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit. </dd> 
            <dd> Donec id elit non mi porta gravida at eget metus. </dd> 
            <dt> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg> Enzo Maza </dt> 
            <dd> Etiam porta sem malesuada magna mollis euismod. </dd> 
            <dt><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
              </svg> Gonzalo Rodriguez </dt> 
            <dd> Hola! soy Gonzalo, estudiante en la Universidad Nacional de Catamarca.</dd> </dl> 
                 <br>
            <dt></dt> 
            <dd></dd> 
            <dt></dt> 
            <dd> </dd> 
        </div> 
    </div> 
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>