
<form [formGroup]="Ingreso" (ngSubmit)="ingreso(Mail,Contrasena)" >
<div class="container-fluid" style="background-color: #3e0062;"> 

  <div class="row"> 
   <div class="col-md-12">
   <div class="container">
   <h2>¡Bienvenido!</h2>
    
      <div [formGroup]="Ingreso">
        <input type="text" formControlName="Mail" class="form-control" id="Mail" placeholder="Ingrese su Mail"  name="Mail">
        <br> 
      </div>
      <div [formGroup]="Ingreso">
        <input type="text" formControlName="Contrasena" class="form-control" id="password" placeholder="Ingrese su Contraseña" name="password">
      </div>
      <br>
      <input style="opacity:1; " type="checkbox" name="terminos"><p style="display: inline;">Recordar Contraseña  </p>
          <button type="submit" id="btnSubmit"    class="btn btn-primary">Ingresar</button>
      <p> <a href="#"> ¿Olvidaste tu contraseña? </a> </p>

  </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</form>
