* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    }
 .container {
    width: 293px;
    background-color: #3e0062;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 40px;
    line-height: 16px;
    font-family: Georgia;;
    color: white;
    box-shadow: 7px 13px 37px #c604f7;
}
.container h2 {
    margin: 20px;
    font-size: 25px;
    text-align: center;
} 
.container a{
   text-align: center;
    color: white;
    text-decoration: none;
    
}
.btn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}    
.btn  {
    width: 100%;
        background-color: rgb(250, 115, 239);       
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 16px 0;
        cursor: pointer;
        border-radius: 12px;
}
