    <body style="background-color: #e8cef7;">        
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="rectangle2">
               <div class="row">
                    <div class="col-md-4">
                        <div class="dropdown" id="cuenta">
                            <button class="dropbtn">Cuenta</button>
                            <div class="dropdown-content">
                            <a href="#">Movimientos</a>
                            <a href="#">Transaciones</a>
                            <a href="#">Paga Aquí</a>
                            <a href="#">Puntos</a>
                            <a href="#">Prestamos</a>
                            <a href="#">Inversiones</a>                            
                            </div>
                        </div>                        
                    </div>
                    <div class="col-md-4">
                         <img src="../../../assets/img/Logo.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown" id="perfil" >
                            <button class="dropbtn">Mi perfil</button>
                            <div class="dropdown-content">
                            <a href="#">Cambio de Clave</a>
                            <a href="#">Ajustes</a>
                            <a href="#">Cerrar Sesion</a>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
         </div>
        </div>
    </div>
    <br>
    <div class="Cuadro" id="opc">
        <div class="row">
            <div class="column">
              <a href="#"><img class="centrar" src="../../../assets/img/ingresar.png" alt="Billete"  title="Ingresar dinero"></a>
              <p id="ing">Ingresar Dinero</p>    
            </div>
            <div class="column">
                <input type="text" name="Saldo" id="sald" value="$">
              <a href="#"><img class="centrar" src="../../../assets/img/Pagarinicio.png" alt="Pagar"  title="Pagar Servicio"></a>
                 <p id="pag" >Pagar Servicio</p>
            </div>
            <div class="column">
              <a href="transferencia" class="routerLink"><img class="centrar" src="../../../assets/img/transferir.png" alt="Transferencia"  title="Realizar Transferencia" ></a>       
              <p id="trans">Realizar Transferencia</p>    
            </div>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    </body>