<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag de inicio</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="rectangle2">
               <div class="row">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                              Mi perfil <span class="caret"></span>
                            </button>
                          
                            <ul class="dropdown-menu" role="menu">
                                <a href="#">Cambio de Clave</a>
                                <a href="#">Ajustes</a>
                                <a href="#">Cerrar Sesion</a>
                              <li class="divider"></li>
                              <li><a href="#">Acción #4</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col-md-4">
                         <img src="../../../assets/img/Logo.png" alt="">
                    </div>
                    <div class="col-md-4">
                        <div class="dropdown">
                             
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                Action
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a class="dropdown-item disabled" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
         </div>
        </div>
    </div>

    
</body>
</html>