<p>El Mundo Boca no habla de otra cosa que no sea el conflicto entre Agustín 
    Almendra y Sebastián Battaglia. Sobre esto, Darío Benedetto fue lapidario 
    con la situación del mediocampista de 22 años, como pocas veces se escuchó 
    a un futbolista con un compañero: “Almendra nunca entendió la camiseta que 
    tenía puesta. Lo suyo es irremediable. Se habló demasiado, esto viene de hace rato, 
    había que sacarlo de raíz y así se hizo. Estamos contentos con la decisión tomada
    por el entrenador y lo bancamos a muerte”.</p>
